@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Solano";
  src: url("/fonts/SolanoGothic.ttf");
}

@font-face {
  font-family: "Zizou-Regular";
  src: url("/fonts/ZizouSlab.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  align-items: center;
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: 103;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 0 0 0 #0000, 0 0 0 #0000, 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.menunav {
  position: fixed;
  top: 62px;
  width: 100%;
  z-index: 23;
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0px 3px 6px #00000029;
  --tw-shadow-colored: 0px 3px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.menunav::before {
  @apply absolute bg-repeat;
  content: "";
  background-image: url("../images/trama-sidebar.svg");
  width: 12px;
  height: 100%;
  top: 0;
  left: 0;
}

.first-section {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: minmax(0, 2fr);
  grid-auto-flow: column;
  height: 152px;
  margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  .menunav {
      border-color: #d9d9d9;
      border-right-width: 1px;
      display: block;
      min-height: calc(100vh - 62px);
      position: fixed;
      top: 62px;
      width: 142px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
      transition-duration: 0.2s;
      transition-property: width;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 1024px) {
  .nav-item {
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .nav-item.a-unique a {
    padding-left: 0;
    padding-right: 0;
    color: rgb(25, 25, 25); 
  }
}

@media screen and (min-width: 968px) {
  .scroll-h {
      height: 256px;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 8px;
      position: relative;
      scrollbar-color: rgba(0, 0, 0, .5) transparent;
      scrollbar-width: thin;
  }
}
